services:
    dev:
        container_name: dev
        hostname: dev
        build:
            context: .
            dockerfile: dev.Dockerfile
            args:
                UID: ${UID:-1000}
                GID: ${GID:-1000}
                USERNAME: ${USER:-developer}
        volumes:
            - ..:/workspace
        healthcheck:
            test: ["CMD-SHELL", "ls"]
            interval: 60s
            timeout: 5s
            retries: 3
