services:
    dev:
        env_file:
          - path: ../.env
            required: false
          - path: ./.env
            required: false
        container_name: dev
        hostname: dev
        build:
            context: .
            dockerfile: Dockerfile
            args:
                UID: ${DEV_UID:-${UID:-1000}}
                GID: ${DEV_GID:-${GID:-1000}}
                USERNAME: ${DEV_NAME:-${USERNAME:-developer}}
        volumes:
          - ${WORKSPACE:-..}:/workspace
