services:
    dev:
        env_file:
          - path: ../.env
            required: false
          - path: ./.env
            required: false
        container_name: dev
        hostname: dev
        build:
            context: .
            dockerfile: Dockerfile
            args:
                DEVUID: ${DEVUID:-${UID:-1000}}
                DEVGID: ${DEVGID:-${GID:-1000}}
                DEVNAME: ${DEVNAME:-${USERNAME:-developer}}
        volumes:
          - ${WORKSPACE:-..}:/workspace
